<p id="notice"><%= notice %></p>

<h1>Listing Hmacs</h1>

<table>
  <thead>
    <tr>
      <th>Key</th>
      <th>Secret</th>
      <th>Hmac</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hmacs.each do |hmac| %>
      <tr>
        <td><%= hmac.key %></td>
        <td><%= hmac.secret %></td>
        <td><%= hmac.hmac %></td>
        <td><%= link_to 'Show', hmac %></td>
        <td><%= link_to 'Edit', edit_hmac_path(hmac) %></td>
        <td><%= link_to 'Destroy', hmac, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hmac', new_hmac_path %>
