<p id="notice"><%= notice %></p>

<p>
  <strong>String:</strong>
  <%= @csrfattack.professor %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @csrfattack.vote %>
</p>

<%= link_to 'Edit', edit_csrfattack_path(@csrfattack) %> |
<%= link_to 'Back', csrfattacks_path %>
